body {
    /*background: #CFD8F6;*/
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
	text-size-adjust: initial;
    margin: 50px 50px 50px 50px;
}

#wrapper {
    /*background: #a6a9b6;*/
    padding: 0 0 10px 20px;
}

.info, .success, .warning {
	border: 1px solid;
	margin: 10px 50px 10px 50px;
    padding:5px 0px 5px 40px;
	background-repeat: no-repeat;
	background-position: 15px center;
	background-size: 20px;
}

.error-login {
    border: 1px solid;
    max-width: 270px; /* maximum size of the error */
    margin: 0 auto; /* auto margin */
    padding:5px 0px 5px 40px;
    background-repeat: no-repeat;
    background-position: 15px center;
    background-size: 20px;
}

.info {
	color: #00529B;
	background-color: #BDE5F8;
	background-image: url('/images/info.png');
}

.success {
	color: #4F8A10;
	background-color: #DFF2BF;
	background-image:url('/images/success.png');
}

.warning {
	color: #9F6000;
	background-color: #FEEFB3;
	background-image: url('/images/warning.png');
}

.error-login {
    color: #D8000C;
    background-color: #FFBABA;
    background-image: url('/images/error.png');
    background-repeat: no-repeat;
}

/*fieldset {
    border: inline-block;
    border-radius: 10px;
}

fieldset.elist {
    display: inline-block;
    position: relative;
    vertical-align: middle;
    overflow: visible;
    padding: 0;
    margin: 0;
    border: none;
}

textarea {
    width: 500px;
    height: 200px;
    padding: 20px;
}*/

li {
	list-style-type: none;
}

div {
    /*border: 1px solid black;*/
    /*font-size: calc( 12px + (20 - 12) * ( (100vw - 400px) / ( 1000 - 500) ));
*/
}

h2 {
    color: #845321;
    text-align: center;
    font-size: 24px;
}
