body {
    background: #CFD8F6;
    font-family: "Arial";
    font-size: 14px;
	text-size-adjust: initial;
    margin: 50px 50px 50px 50px;
}

#wrapper {
    /*background: #a6a9b6;*/
    padding: 0 0 0 20px;
}

.error {
    color: red;
    background-color: #FFABAB;
}

/*fieldset {
    border: inline-block;
    border-radius: 10px;
}
*/
/*fieldset.elist {
    display: inline-block;
    position: relative;
    vertical-align: middle;
    overflow: visible;
    padding: 0;
    margin: 0;
    border: none;
}*/

/*textarea {
    width: 500px;
    height: 200px;
    padding: 20px;
}*/

div {
    border: 1px solid black;
    font-size: calc( 12px + (20 - 12) * ( (100vw - 400px) / ( 1000 - 500) ));

}

h2 {
    color: #845321;
    text-align: center;
    font-size: 24px;
}
